@CHARSET "ISO-8859-1";

@font-face{
	font-family: 'MyFont';
	src: url("");
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    background-color: rgb(230, 230, 230);
}

div.interface_class{
	margin: 2px;
	padding: 4px;
	border: rgba(0,0,0,.4);
}

section.body_section {
	display: block;
	padding: 2px;
	background-color: white;
}
aside.side_section {
	display: block;
	padding: 2px;
	float: right;
	background-color: white;
}

footer.footer_section {
	text-align: center;
	margin: 2px;
	padding: 4px;
	background: linear-gradient(black, rgb(29, 29, 29));
	color: rgb(180, 180, 180);
}

img{
	max-height: 100%;
	max-width: 100%;
}